@model FibMVC.Models.FibModel


    @{ViewBag.Title = "InputFib"; }


<h2>InputView</h2>

  
    @using (Ajax.BeginForm("DisplayFib", "FibInput", new AjaxOptions { UpdateTargetId = "fibID" }))
    {
        @Html.TextBoxFor(model => model.NumFib)
        <br />
        <input type="submit" name="submit"  value="Ajax Post" />
    }
       <div id="fibID"></div>


    
